<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Diplomata:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<img src="http://image.ibb.co/ntJ48k/21291184_1525756617484732_816580164_n.jpg" width="100%" height="420px">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>